.icon-button {
	padding: 8px;
	border: none;
	background: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.date-picker {
	width: 100%;
	z-index: 9999;
	position: relative;
}

.input-text {
	width: 100%;
	padding: 4px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.dropdown-menu-item {
	padding: 8px 12px;
	border-radius: 6px;
	background-color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease;
	font-weight: 700;
}

.dropdown-menu-item:hover {
	background-color: #e0e0e0;
}
